/* custom style */
.img-overlay:hover .overlay{
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.img-overlay:hover .overlay .content{
  color: white !important;
}

.img-overlay:hover .overlay .content label:hover{
  cursor: pointer;
}